html {
  font-size: 16px;
}

body {
  max-width: 1920px;
  background-color: #ccffff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.calc_form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.calc_label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-bottom: 1.2rem;
  align-items: center;
  text-align: center;
}

.calc_input {
  width: 60%;
  margin: 0 auto;
  margin-top: 0.6rem;
  margin-right: auto;
  padding: 5px 10px;
  font-size: 1.1rem;
  color: darkslategrey;
  background-color: transparent;
  border: 2px solid rgb(158, 223, 85);
  border-radius: 15px;
  outline: none;
  appearance: none;
  -moz-appearance: textfield;
}

.calc_input:focus {
  appearance: none;
}

.calc_label_adaptive {
  align-items: flex-start;
  height: 3rem;
  margin-left: -10%;
  text-align: left;
}

.calc_input_adaptive {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-style {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(158, 223, 85);
  border-radius: 50%;
  margin-top: 4rem;
  margin-left: 1rem;
}
.calc_input_adaptive:checked + .check-style::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  background-color: rgb(158, 223, 85);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.none {
  opacity: 0;
  visibility: hidden;
}

.btn_total {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 60px;
  margin: 25px auto;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(158, 223, 85);
  border-radius: 15px;
  outline: none;
}

.btn_total:active {
  transform: translate(2px, 2px);
}

.out {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin: 0 auto;
  border: 2px solid rgb(158, 223, 85);
  border-radius: 15px;
}

.out:last-of-type {
  margin-top: 30px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .calc_label {
    width: 100%;
  }

  .btn_total {
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-top: 0;
  }

  .btn_reset {
    margin-top: 1.5rem;
    height: 2rem;
    font-size: 0.8rem;
  }

  .out {
    width: 150px;
  }
}
